.icon {
    background: var(--md-primary-fg-color);
    display: inline-block;
}

.icon svg {
    display: block;
    height: 1em;
    width: auto;
}

.icon.size-48x48 {
    font-size: 36px;
    padding: 6px;
}

.icon.size-512x512 {
    font-size: 384px;
    padding: 64px;
}
